.section-7 {
  position: relative;
  width: 100%;
  padding: 55px 0;
}

.section-7-layout {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-7-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.section-7-main-display {
  width: 60%;
}

.section-7-main-heading {
  width: 100%;
  padding: 0 0 25px 0;
}

.section-7-main-heading h6 {
  font-family: var(--secondary-font);
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 600;
}

.section-7-main-details {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 33px;
}

.section-7-main-image {
  /* padding: 0 58px 0 0; */
}

.section-7-main-text {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.section-7-main-text h2 {
  font-family: var(--secondary-font);
  font-size: 47px;
  font-weight: 400;
  /* padding-bottom: 30px !important; */
}

.section-7-main-text p {
  font-size: 18px;
  /* padding-bottom: 28px !important; */
  color: #797979 !important;
}

.section-7-main-text a {
  /* margin-top: 60px !important; */
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  height: auto;
  max-width: 100%;
  color: #ffffff !important;
  border-color: #121212;
  background-color: #121212;
  padding: 17px 40px;
  border-width: 2px !important;
  border-style: solid;
  box-shadow: 0 7px 25px rgba(18, 18, 18, 0.2);
  transition: all ease 0.3s;
}

.section-7-main-text a:hover {
  color: #121212 !important;
  background-color: #ffffff;
}

.section-7-side-display {
  padding: 0 15px;
  width: 40%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.section-7-side-display h6 {
  font-size: 19px;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 55px !important;
}

.section-7-side-details ul {
  list-style: none;
  padding: 0;
}

.section-7-side-details ul li {
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 32px;
  /* padding: 25px 0 25px 0; */
}

.section-7-side-details ul li a{
  color: #121212 !important;
}

.section-7-side-details ul li a:hover{
  color: #121212 !important;
}

.section-7-side-details ul li img {
  width: 80px;
}

.section-7-side-text {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.section-7-side-text h4 {
  font-size: 19px;
  font-family: var(--secondary-font);
  color: #121212 !important;
}

.section-7-side-text span i {
  font-size: 13px;
  padding: 12px 0 10px 0 !important;
}

.section-7-side-text p {
  color: var(--primary-color) !important;
  font-size: 19px;
}

.section-7-side-details a {
  color: var(--primary-color) !important;
  font-size: 18px;
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 10px;
}

@media (max-width: 1024px) {
  .section-7-container {
    gap: 10px !important;
  }
  .section-7-main-image {
    padding-right: 15px;
  }
  .section-7-main-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .section-7-side-details ul li {
    gap: 15px;
  }
  .section-7-main-text h2 {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .section-7-container {
    flex-direction: column;
    gap: 50px !important;
  }
  .section-7-main-display {
    width: 100%;
  }
  .section-7-side-display {
    width: 100%;
    padding: 0;
  }
  .section-7-side-details {
    width: 100%;
  }
  .section-7-side-details ul li img {
    width: 200px;
  }
  .section-7-side-text {
    justify-content: start;
    gap: 15px !important;
  }
  .section-7-side-text h4 {
    font-size: 25px !important;
  }
  .section-7-side-text span i {
    font-size: 22px !important;
  }
  .section-7-side-text p {
    font-size: 25px !important;
  }
}

@media (max-width: 576px) {
  .section-7-main-details {
    flex-direction: column;
  }
  .section-7-main-image{
    padding: 0;
  }
  .section-7-main-text {
    width: 100%;
    padding-top: 30px !important;
    padding: 0;
    gap: 20px !important;
  }
}

@media (max-width: 425px) {
  .section-7 {
    padding: 55px 0;
  }
  .section-7-container {
    flex-direction: column;
    width: 100% !important;
  }
  .section-7-main-heading {
    padding-bottom: 20px !important;
  }
  .section-7-main-heading h6 {
    font-size: 25px;
    width: 100% !important;
  }
  .section-7-main-display {
    width: 100%;
  }
  .section-7-main-details {
    flex-direction: column;
    width: 100% !important;
    padding-top: 20px;
  }
  .section-7-main-text {
    padding: 0 0;
  }
  .section-7-main-text h2 {
    width: 100% !important;
    margin-top: 20px !important;
    padding-bottom: 15px !important;
    font-size: 25px;
  }
  .section-7-main-text p {
    padding-bottom: 17px !important;
  }
  .section-7-main-text a {
    margin-top: 13px !important;
  }

  .section-7-side-display {
    padding: 0;
    padding-top: 75px;
  }
  .section-7-side-display h6 {
    padding-bottom: 25px !important;
  }
}
