.palette {
  position: relative;
  width: 100%;
  display: block;
  background-color: #fff;
}

.palette-layout {
  max-width: 1320px;
  padding: 55px 15px;
  margin: 0 auto;
}

.palette-container {
  width: 100%;
  text-align: center;
}

.palette-text-content {
  width: 100%;
  text-align: center;
}

.palette-text-content h1 {
  font-size: 55px;
  font-family: var(--secondary-font);
  padding-bottom: 36px !important;
}

.palette-text-content p {
  font-size: 20px;
  padding-bottom: 20px !important;
}

.palette-items {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 25px;
}

.palette-item {
  width: 100%;
  text-align: center;
  padding: 20px;
  transition: all ease 2s;
  border: solid 3px #000000;
  box-shadow: 8px 8px #c8c8c8;
  border-radius: 35px 0px 35px 0px;
  
}

.palette-item:hover {
  box-shadow: 0px 16px 49px -15px rgba(18, 18, 18, 0.5);
}

.palette-item img {
    width: 100%;
    box-shadow: 7px 7px #c8c8c8;
    border: solid 1px #000;
    background: #091853;
    padding: 10px;
    border-radius: 35px 0px 35px 0px;
}

.palette-item h4 {
  font-size: 22px;
  font-family: var(--secondary-font);
  padding-top: 15px !important;
}

.palette-item p {
  font-size: 18px;
  padding-top: 15px !important;
}

@media (max-width: 768px) {
  .palette-items {
    flex-direction: column;
  }
  .palette-item {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .palette-text-content h1 {
    font-size: 26px;
  }
}
