.section-9 {
  position: relative;
  width: 100%;
  padding: 55px 0;
  background-image: url(../images/section-9-background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.section-9-layout {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-9-container {
  width: 100%;
  text-align: center;
}

.section-9 > * {
  position: relative;
  z-index: 2;
}

.section-9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.section-9-image {
  margin: 0 auto;
  margin-bottom: 40px;
}

.section-9 .swiper-button-next::after,
.section-9 .swiper-button-prev::after {
  content: "";
}

.section-9 .swiper-button-next i,
.section-9 .swiper-button-prev i {
  font-size: 25px;
  color: #fff;
  transition: all 0.2s;
}

.section-9 .swiper-button-next:hover i,
.section-9 .swiper-button-prev:hover i {
  color: var(--primary-color);
}

.section-9 .swiper-pagination {
  position: relative !important;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.section-9 .swiper-pagination-bullet:nth-child(1) {
  width: 70px;
  height: 70px;
  background-image: url(../images/pagination-image01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.section-9 .swiper-pagination-bullet:nth-child(2) {
  width: 70px;
  height: 70px;
  background-image: url(../images/pagination-image02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.section-9 .swiper-pagination-bullet:nth-child(3) {
  width: 70px;
  height: 70px;
  background-image: url(../images/pagination-image03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  margin-right: 0px !important;
}

.section-9 .swiper-pagination-bullet-active {
  scale: 1.3;
  transition: all ease 0.3s;
}

.section-9-text-content p {
  font-size: 22px;
  font-family: var(--secondary-font);
  font-weight: 400;
  color: #fff !important;
  padding: 0 40px 30px 40px !important;
}

.section-9-text-content h4 {
  font-size: 19px;
  font-weight: 400;
  color: #fff !important;
}

@media (max-width: 768px) {
  .section-9 .swiper-button-next,
  .section-9 .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 425px) {
  .section-9-text-content p {
    padding: 0 10px 30px 10px !important;
  }
}
