.typewriter-section {
  width: 100%;
  position: relative;
  background-color: var(--secondary-color);
}

.typewriter-section-layout {
  max-width: 1320px;
  padding: 55px 15px;
  margin: 0 auto;
}

.typewriter-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff !important;
}

.typewriter-section-text-content h1 {
  font-family: var(--secondary-font) !important;
  font-size: 36px;
  color: #fff !important;
}

.typewriter-section-text-content a span {
  color: var(--primary-color) !important;
  font-family: var(--secondary-font) !important;
}

.typing-demo {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter-section-button a {
  cursor: pointer;
  align-items: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  height: 55px;
  color: #ffffff !important;
  background-color: #121212;
  padding: 17px 40px;
  border: 2px solid #121212 !important;
  box-shadow: 0 7px 25px rgba(18, 18, 18, 0.2);
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typewriter-section-button a:hover {
  background-color: var(--primary-color);
  color: #121212 !important;
}


@media (max-width: 768px) {
    .typewriter-section-container{
        flex-direction: column;
    }

    .typewriter-section-text-content h1{
      padding-bottom: 36px !important;
      text-align: center;
    }
}